.card { 
	width: 100px;
	height: 50px;
	xpadding: 5px; float: left;
	xmargin: 0 10px 10px 0;
	font-size: .9em;
	


	overflow: hidden;
	
	position: absolute;
	z-index: 10;
	
	top: 100px;
	left: 0px;
	
	display: block;
	
	xborder: solid rgba(92, 157, 181,0.5) 3px;
	background-color: #ECDC96;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECDC96), color-stop(100%,#EAD272));

}

.pink {
}

.yellow {
}

.blue {
}

.green {
}

.card-image {
	position: absolute;
	xtop: -10;
	xleft: -50;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1000;
	display: none;
}

.content { 
	overflow: hidden;
	display: block;
	xwidth: 70%; 
	height: 90px;
	xmargin: 5px 20px 0px 30px;
	
	font-family: 'ubuntumedium', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;	
	
	xtext-shadow: 0px 0px 1px #444;
	
	opacity: 1;
	
	color: black;
	text-align: center;
	padding-top: 0px;
	
}