extends layout
block header 
	div.connected= "Personnes en ligne : " + connected

block body
	main.container
		div.board-outline
			div#board
				div#board-doodles

				table#board-table.board-table
					tr
						td
							form.home(onsubmit="return go();")
								label Nommez votre nouveau tableau :
								br
								input.text(type="text", name="name")
								a#go(onclick="return go();") &nbsp;Allons-y.
							p.home Exemple :
							p.home!= '<a href="//' + locals.url + '/demo">' + locals.url + '/demo</a>'
