doctype html
html(lang="fr")
	head

		<!-- STYLES -->
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />

		<!-- jQuery -->
		//- <script src="lib/jquery-1.11.0.min.js"></script>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/jquery-ui.js"></script>

		<!-- External Scripts -->
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.js"></script>
		<script src="lib/jquery.blockUI.js"></script>
		<script src="lib/marked.min.js"></script>
		<script src="lib/moment-with-locales.min.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>
		if locals.faviconUrl
			link(rel="icon" type="image/png" href=locals.faviconUrl)
		else
			link(rel="icon" type="image/png" href="/images/favicon.png")

		title= locals.pageTitle

	body
		div#header-bar(data-url=locals.headerBarUrl)
		header.container.main-header
			div.title
				a(href="//" + locals.url, title="Retour à la page d'accueil")
					if locals.logoUrl
						img.logo(src=locals.logoUrl, alt="logo Post-it")
					else
						img.logo(src="images/logo-Post-it.svg", alt="logo Post-it")
				div.base-line Organiser ses idées collectivement
			block header
		main
			block body
		div.clearfix
		footer.container
			block footer
			div.credits Logiciel libre basé sur <a href="https://framagit.org/framasoft/framemo">Framemo</a> et <a href="https://github.com/aliasaria/scrumblr">Scrumblr</a> - <a href="https://framagit.org/colibris/framemo">Code source</a>
